@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                SignalR Basic demo.  Enter alerts or watch the screen to see new alerts.
            </p>
        </div>
    </section>
}

<div>
    <h2>Enter an alert here:</h2>
    Alert Name:<br />
    <input id="name" type="text" /><br />
    <br />
    Alert Location:<br />
    <input id="location" type="text" /><br />
    
    <input id="submit-alert" type="button" value="Submit" />

    <h2>Monitor alerts here:</h2>
</div>